LUNG1-*/
STEP_10_STATISTICAL_TEXTURE_ALL_PATIENTS/
STEP_11_GLCM_ALL_PATIENTS/
STEP_11_GLCM_TEXTURE_ALL_PATIENTS/
STEP_12_LBP_TEXTURE_ALL_PATIENTS/
STEP_13_SPECTRAL_TEXTURE_ALL_PATIENTS/
STEP_15_CLASSIFICATION_DATASET/
__pycache__/
*.pyc
